<app-container width="medium">
  <app-top-bar-filter placeholder="z.B. Name, Beschreibung" (filterChanged)="onFilterChanged($event)" [text]="initialFilterText">
    <button type="button" class="btn-icon" (click)="showAddDialog()">
      <fa-icon [icon]="faPlus" [fixedWidth]="true"
               title="Queste hinzufügen"></fa-icon>
    </button>
  </app-top-bar-filter>

  <div class="form-group">
    <input type="checkbox" id="showCompleted" [(ngModel)]="showCompleted" (ngModelChange)="onSetShowCompleted()">
    <label for="showCompleted">Abgeschlossene Quests anzeigen</label>
  </div>

  <ul class="quests unstyled-list" *ngIf="filterText.value === ''">
    <app-quest-summary
      *ngFor="let quest of quests$ | async"
      [quest]="quest"
      [showCompleted]="showCompleted"
    ></app-quest-summary>
  </ul>


  <ul class="filtered-quests unstyled-list" *ngIf="filterText.value !== ''">
    <app-quest-summary
      *ngFor="let quest of filteredQuests$ | async"
      [quest]="quest"
      [showCompleted]="showCompleted"
      [showSubQuests]="false"
    ></app-quest-summary>
  </ul>
</app-container>
