@if (hasEntity() || user.isGM) {
  <div class="flow-item" [class.expanded]="expanded" [class.deleted]="!hasEntity()">
    <div class="flow-item-header">
      @if (dragEnabled && user.isGM) {
        <div class="drag-handle" cdkDragHandle>
          <fa-icon [icon]="faGripVertical"></fa-icon>
        </div>
      }
      <div class="item-icon">
        @if (item.type === 'person' && hasEntity()) {
          <app-avatar [person]="$any(item).entity"></app-avatar>
        }
        @if (item.type === 'quest') {
          <fa-icon [icon]="faMeteor"></fa-icon>
        }
        @if (item.type === 'person' && !hasEntity()) {
          <fa-icon [icon]="faUsers"></fa-icon>
        }
        @if (item.type === 'place') {
          <fa-icon [icon]="faCompass"></fa-icon>
        }
        @if (item.type === 'note') {
          <fa-icon [icon]="faStickyNote"></fa-icon>
        }
      </div>
      <div class="item-content" (click)="toggleExpand()">
        <div class="item-name">{{ getEntityName() }}</div>
      </div>
      @if (hasEntity()) {
        <button
          type="button"
          class="btn-icon"
          (click)="toggleExpand()"
          [title]="expanded ? 'Einklappen' : 'Ausklappen'"
          >
          <fa-icon [icon]="expanded ? faChevronDown : faChevronRight"></fa-icon>
        </button>
      }
      @if (user.isGM) {
        <button type="button" class="btn-icon" (click)="removeItem()" title="Entfernen">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      }
    </div>
    @if (expanded && hasEntity()) {
      <div class="flow-item-details">
        <!-- Dynamically loaded detail component will be inserted here -->
        <ng-container #detailContainer></ng-container>
      </div>
    }
  </div>
}
