@import "../../../../scss/variables.scss";

.top-bar {
  margin-bottom: $item-padding;
  padding-right: $mobile-interactive-height + $item-padding;
  position: relative;

  button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

app-person-summary {
  display: block;
  margin-bottom: 10px;
}
