<div class="top-bar clearfix">
  <div class="form-group">
    <input type="search" id="filterText" [formControl]="textFilter" placeholder="z.B. Name, Titel, Rasse, Kultur">
    <label for="filterText">Filter</label>
  </div>

  <button type="button" class="btn-icon" (click)="showAddDialog()">
    <fa-icon [icon]="faPlus" [fixedWidth]="true"
             title="Person hinzufügen"></fa-icon>
  </button>
</div>

<div class="people">
  <app-person-summary *ngFor="let person of filteredPeople$ | async" [person]="person"
                      (click)="goToPerson(person)">
  </app-person-summary>
</div>
