<div>
  <form [formGroup]="attributeForm" (ngSubmit)="save()">
    <div class="form-group">
      <select formControlName="type" id="type">
        <option *ngFor="let type of types" [value]="type">{{ type }}</option>
      </select>
      <label for="type">Typ</label>
    </div>

    <div [ngClass]="{'locked-input': props.attribute}">
      <app-unlock-button (toggle)="toggleMax()" *ngIf="props.attribute"></app-unlock-button>

      <div class="form-group">
        <input
          id="max"
          formControlName="max"
          type="number"
          min="1"
          step="1"
          required
          appSelectOnFocus
        >
        <label for="max">Maximum</label>
      </div>
    </div>

    <div class="form-group">
      <input
        id="current"
        formControlName="current"
        type="number"
        min="0"
        step="1"
        required
        appSelectOnFocus
        appFocusOnInit
      >
      <label for="current">Aktuell</label>
    </div>

    <button type="submit" class="btn" [disabled]="!attributeForm.valid">
      Speichern
    </button>
  </form>
</div>
