<div>
  <form [formGroup]="attributeForm" (ngSubmit)="save()">
    <div class="form-group" *ngIf="!this.props.attribute">
      <select formControlName="type" id="type">
        <option *ngFor="let att of allowedAttributes | keyvalue" [value]="att.key">{{ att.value }}</option>
      </select>
      <label for="type">Typ</label>
    </div>

    <div [ngClass]="{'locked-input': props.attribute}">
      <app-unlock-button (toggle)="toggleMax()" *ngIf="props.attribute"></app-unlock-button>

      <div class="form-group">
        <input
          id="max"
          formControlName="max"
          type="number"
          step="1"
          required
          appSelectOnFocus
        >
        <label for="max">Maximum</label>
      </div>
    </div>

    <div class="form-group">
      <input
        id="current"
        formControlName="current"
        type="number"
        step="1"
        required
        appSelectOnFocus
        appFocusOnInit
      >
      <label for="current">Aktuell</label>
    </div>

    <button type="submit" class="btn" [disabled]="!attributeForm.valid">
      Speichern
    </button>

    <div class="locked-input" *ngIf="props.attribute && !props.altCollection">
      <app-unlock-button (toggle)="toggleDelete()"></app-unlock-button>

      <button type="button" class="btn" (click)="delete()" [disabled]="deleteDisabled">
        Löschen
      </button>
    </div>
  </form>
</div>
