@import "../../../../scss/variables.scss";

.image {
  border: 1px solid $color-primary;
  line-height: 0;
  margin-top: 20px;
  text-align: center;

  img {
    height: auto;
    max-width: 100%;
  }
}
