.progress-bar {
  border-left: 0.2rem solid var(--color-primary);
  border-right: 0.2rem solid var(--color-primary);
  height: 2rem;
  position: relative;
  width: 100%;
}

.bar {
  background-color: var(--color-primary);
  height: 0.4rem;
  left: 0;
  position: absolute;
  top: 0.8rem;
}

.marker {
  background-color: var(--color-primary);
  height: 1.2rem;
  position: absolute;
  top: 0.4rem;
  width: 0.1rem;
}
