<div class="box skills" *ngIf="person.skills">
  <div class="heading"><fa-icon [fixedWidth]="true" [icon]="ruleTypes.skill.icon"></fa-icon> Talente</div>
  <button type="button" class="btn-icon small btn-add" (click)="addCapability('skill')" title="Talent hinzufügen">
    <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
  </button>
  <div class="capability" *ngFor="let skill of person.skills">
    <button
      type="button"
      class="btn-text label"
      (click)="editCapability(skill, 'skill')"
      title="Talent bearbeiten"
    >
      {{skill.name}}
    </button>
    <button
      type="button"
      class="btn-text info"
      (click)="toggleRule(skill.id)"
      title="Regeln anzeigen"
    >
      <fa-icon [fixedWidth]="true" [icon]="faInfo"></fa-icon>
    </button>
    <button
      type="button"
      class="btn-text value"
      (click)="rollCapability(skill)"
      title="Probe würfeln"
    >
      {{skill.value}}
    </button>
  </div>
</div>

<div class="box cantrips" *ngIf="person.cantrips">
  <div class="heading"><fa-icon [fixedWidth]="true" [icon]="ruleTypes.cantrip.icon"></fa-icon> Zaubertricks</div>
  <button type="button" class="btn-icon small btn-add" (click)="addCapability('cantrip')" title="Zaubertrick hinzufügen">
    <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
  </button>
  <div class="capability" *ngFor="let cantrip of person.cantrips">
    <button
      type="button"
      class="btn-text label"
      (click)="editCapability(cantrip, 'cantrip')"
      title="Zaubertrick bearbeiten"
    >
      {{cantrip.name}}
    </button>
    <button
      type="button"
      class="btn-text info"
      (click)="toggleRule(cantrip.id)"
      title="Regeln anzeigen"
    >
      <fa-icon [fixedWidth]="true" [icon]="faInfo"></fa-icon>
    </button>
  </div>
</div>

<div class="box spells" *ngIf="person.spells">
  <div class="heading"><fa-icon [fixedWidth]="true" [icon]="ruleTypes.spell.icon"></fa-icon> Zauber</div>
  <button type="button" class="btn-icon small btn-add" (click)="addCapability('spell')" title="Zauber hinzufügen">
    <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
  </button>
  <div class="capability" *ngFor="let spell of person.spells">
    <button
      type="button"
      class="btn-text label"
      (click)="editCapability(spell, 'spell')"
      title="Zauber bearbeiten"
    >
      {{spell.name}}
    </button>
    <button
      type="button"
      class="btn-text info"
      (click)="toggleRule(spell.id)"
      title="Regeln anzeigen"
    >
      <fa-icon [fixedWidth]="true" [icon]="faInfo"></fa-icon>
    </button>
    <button
      type="button"
      class="btn-text value"
      (click)="rollCapability(spell)"
      title="Probe würfeln"
    >
      {{spell.value}}
    </button>
  </div>
</div>

<div class="box liturgys" *ngIf="person.liturgys">
  <div class="heading"><fa-icon [fixedWidth]="true" [icon]="ruleTypes.liturgy.icon"></fa-icon> Liturgien</div>
  <button type="button" class="btn-icon small btn-add" (click)="addCapability('liturgy')" title="Liturgie hinzufügen">
    <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
  </button>
  <div class="capability" *ngFor="let liturgy of person.liturgys">
    <button
      type="button"
      class="btn-text label"
      (click)="editCapability(liturgy, 'liturgy')"
      title="Liturgie bearbeiten"
    >
      {{liturgy.name}}
      <span class="attributes" *ngIf="liturgy.attributeOne || liturgy.attributeTwo || liturgy.attributeThree">
        ({{liturgy.attributeOne}}|{{liturgy.attributeTwo}}|{{liturgy.attributeThree}})
      </span>
    </button>
    <button
      type="button"
      class="btn-text info"
      (click)="toggleRule(liturgy.id)"
      title="Regeln anzeigen"
    >
      <fa-icon [fixedWidth]="true" [icon]="faInfo"></fa-icon>
    </button>
    <button
      type="button"
      class="btn-text value"
      (click)="rollCapability(liturgy)"
      title="Probe würfeln"
    >
      {{liturgy.value}}
    </button>
  </div>
</div>

<div class="box feats" *ngIf="person.feats">
  <div class="heading"><fa-icon [fixedWidth]="true" [icon]="ruleTypes.feat.icon"></fa-icon> Sonderfertigkeiten</div>
  <button type="button" class="btn-icon small btn-add" (click)="addCapability('feat')" title="Sonderfertigkeit hinzufügen">
    <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
  </button>
  <div class="capability" *ngFor="let feat of person.feats">
    <button
      type="button"
      class="btn-text label"
      (click)="editCapability(feat, 'feat')"
      title="Sonderfertigkeit bearbeiten"
    >
      {{feat.name}}{{feat.details ? ' (' + feat.details + ')' : ''}}{{feat.level ? ' ' + feat.level : ''}}
    </button>
    <button
      type="button"
      class="btn-text info"
      (click)="toggleRule(feat.id)"
      title="Regeln anzeigen"
    >
      <fa-icon [fixedWidth]="true" [icon]="faInfo"></fa-icon>
    </button>
  </div>
</div>

<div class="box advantages" *ngIf="person.advantages">
  <div class="heading"><fa-icon [fixedWidth]="true" [icon]="ruleTypes.advantage.icon"></fa-icon> Vorteile</div>
  <button type="button" class="btn-icon small btn-add" (click)="addCapability('advantage')" title="Vorteil hinzufügen">
    <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
  </button>
  <div class="capability" *ngFor="let advantage of person.advantages">
    <button
      type="button"
      class="btn-text label"
      (click)="editCapability(advantage, 'advantage')"
      title="Vorteil bearbeiten"
    >
      {{advantage.name}}{{advantage.details ? ' (' + advantage.details + ')' : ''}}{{advantage.level ? ' ' + advantage.level : ''}}
    </button>
    <button
      type="button"
      class="btn-text info"
      (click)="toggleRule(advantage.id)"
      title="Regeln anzeigen"
    >
      <fa-icon [fixedWidth]="true" [icon]="faInfo"></fa-icon>
    </button>
  </div>
</div>

<div class="box disadvantages" *ngIf="person.disadvantages">
  <div class="heading"><fa-icon [fixedWidth]="true" [icon]="ruleTypes.disadvantage.icon"></fa-icon> Nachteile</div>
  <button type="button" class="btn-icon small btn-add" (click)="addCapability('disadvantage')" title="Nachteil hinzufügen">
    <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
  </button>
  <div class="capability" *ngFor="let disadvantage of person.disadvantages">
    <button
      type="button"
      class="btn-text label"
      (click)="editCapability(disadvantage, 'disadvantage')"
      title="Nachteil bearbeiten"
    >
      {{disadvantage.name}}{{disadvantage.details ? ' (' + disadvantage.details + ')' : ''}}{{disadvantage.level ? ' ' + disadvantage.level : ''}}
    </button>
    <button
      type="button"
      class="btn-text info"
      (click)="toggleRule(disadvantage.id)"
      title="Regeln anzeigen"
    >
      <fa-icon [fixedWidth]="true" [icon]="faInfo"></fa-icon>
    </button>
  </div>
</div>

<app-rule-card
  *ngIf="(displayRule$ | async) as displayRule"
  [rule]="displayRule"
  (ruleClicked)="toggleRule()"
></app-rule-card>
