<div>
  <form [formGroup]="infoForm" (ngSubmit)="save()">
    <div class="form-group">
      <textarea id="content" formControlName="content" required></textarea>
      <label for="content">Inhalt</label>
    </div>

    <div class="form-group">
      <select id="type" formControlName="type" required>
        @for (type of infoTypes; track type; let i = $index) {
          <option [ngValue]="i">
            {{type}}
          </option>
        }
      </select>
      <label for="type">Art</label>
    </div>

    <button type="submit" class="btn" [disabled]="!infoForm.valid">
      Speichern
    </button>

    @if (props.info) {
      <div class="locked-input">
        <app-unlock-button (toggle)="toggleDelete()"></app-unlock-button>
        <button type="button" class="btn" (click)="delete()" [disabled]="deleteDisabled">
          Löschen
        </button>
      </div>
    }
  </form>
</div>
