@import '../../../../scss/mixins.scss';

.info {
  margin-bottom: var(--container-horizontal-padding);
}

.type {
  @include text-label;
}

.parent {
  margin-bottom: var(--item-padding);
}

.header {
  align-items: center;
  display: flex;
  min-height: var(--mobile-interactive-height);
  position: relative;

  button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.description {
  margin-top: var(--item-padding);
}

.subquests {
  margin-bottom: var(--container-horizontal-padding);
}
