@import '../../../../scss/variables.scss';
@import '../../../../scss/mixins.scss';

.info {
  margin-bottom: $container-horizontal-padding;
}

.type {
  @include text-label;
}

.parent {
  margin-bottom: $item-padding;
}

.header {
  min-height: $mobile-interactive-height;
  position: relative;

  button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.description {
  margin-top: $item-padding;
}

.subquests {
  margin-bottom: $container-horizontal-padding;
}
