<app-container width="medium" class="quest" *ngIf="quest">
  <div class="info box">
    <div class="type" (click)="editQuest()">
      {{questTypes[quest.type]}}
    </div>
    <div class="parent" *ngIf="quest.parent && quest.parent.name" (click)="goTo(quest.parent.id)">
      Teil von: {{quest.parent.name}}
    </div>
    <div class="description" *ngIf="quest.description">
      {{quest.description}}
    </div>
  </div>

  <ng-container *ngIf="quest.subQuests">
    <div class="subquests box" *ngIf="quest.subQuests.length > 0">
      <div class="heading">Subquests</div>
      <ul class="unstyled-list">
        <li class="subquest" *ngFor="let subQuest of quest.subQuests" (click)="goTo(subQuest.id)">
          {{subQuest.name}}
        </li>
      </ul>
    </div>
  </ng-container>

  <div class="details">
    <div class="header">
      <h2>Details</h2>

      <button type="button" id="btn-add-detail" class="btn-icon" (click)="addDetail()">
        <fa-icon [fixedWidth]="true" [icon]="faPlus" [mask]="faStickyNote" transform="shrink-8"></fa-icon>
      </button>
    </div>
  </div>

  <div class="detail-info" *ngIf="infos$">
    <app-info-box *ngFor="let infoList of infos$ | async | keyvalue"
                  [key]="infoList.key"
                  [infos]="infoList.value"
                  (editDetail)="editDetail($event)"
    ></app-info-box>
  </div>
</app-container>
