<app-container width="medium" class="quest" *ngIf="quest">
  <div class="info box">
    <app-access-indicator [item]="quest"></app-access-indicator>

    <div class="type">
      {{questTypes[quest.type]}}
    </div>
    <div class="parent" *ngIf="quest.parent && quest.parent.name">
      Teil von: <a [routerLink]="['/quests/', quest.parent.id]">{{quest.parent.name}}</a>
    </div>
    <div class="description" *ngIf="quest.description">
      {{quest.description}}
    </div>
  </div>

  <ng-container *ngIf="quest.subQuests">
    <div class="subquests box" *ngIf="quest.subQuests.length > 0">
      <div class="heading">Subquests</div>
      <ul class="unstyled-list">
        <li class="subquest" *ngFor="let subQuest of quest.subQuests">
          <a [routerLink]="['/quests/', subQuest.id]">{{subQuest.name}}</a>
        </li>
      </ul>
    </div>
  </ng-container>

  <div class="details">
    <div class="header">
      <h2>Details</h2>

      <button type="button" id="btn-menu" class="btn-icon" (click)="toggleMenu($event)">
        <fa-icon [fixedWidth]="true" [icon]="faBars"></fa-icon>
        <app-context-menu *ngIf="menuOpen" [owner]="quest.owner" [menu]="menu"></app-context-menu>
      </button>
    </div>
  </div>

  <div class="detail-info" *ngIf="infos$">
    <app-info-box *ngFor="let infoList of infos$ | async | keyvalue"
                  [key]="infoList.key"
                  [infos]="infoList.value"
                  (editDetail)="editDetail($event)"
    ></app-info-box>
  </div>
</app-container>
