@import "../../../../scss/variables.scss";

.top-bar {
  display: flex;
  margin-bottom: var(--container-horizontal-padding);

  .form-group {
    margin-bottom: 0;
  }

  .filter {
    flex: 1 1 auto;
  }

  .buttons {
    display: flex;
  }
}

:host ::ng-deep button {
  flex: 0 0 auto;
  margin-left: calc(var(--item-padding) / 2);
}



@media (min-width: $break-sm) {
  :host ::ng-deep button {
    margin-left: var(--item-padding);
  }
}
