@import "../../../../scss/variables.scss";

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: none; 
  appearance: none;
  background: transparent;
  border: none;
  color: $color-primary;
  cursor: pointer;
  display: block;
  font-family: $base-body-font-family;
  font-size: $base-body-font-size;
  height: 5rem;
  line-height: 5rem;
  min-width: 5rem;
  outline: none;
  padding: 0 10px;
}

header {
  background-color: $color-dark;
  box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1);
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

nav {
  background-color: $color-dark;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: $header-height;
  z-index: 100;
  
  button {
    display: block;
    text-align: left;
    width: 100%;
  }
}
