<div class="rule-card-wrapper" (click)="ruleClicked.emit(rule)">
  <div class="rule-card box">
    <div class="heading">
      {{rule.name}}

      <div class="top-right">
        @if (rule.type === 'skill' || rule.type === 'spell' || rule.type === 'liturgy') {
          <span>
            @if (rule.attributeOne) {
              <span class="attribute">{{rule.attributeOne}}</span>
            }
            @if (rule.attributeTwo) {
              <span class="attribute">{{rule.attributeTwo}}</span>
            }
            @if (rule.attributeThree) {
              <span class="attribute">{{rule.attributeThree}}</span>
            }
            @if (rule.type==='spell' && rule.modifier) {
              <span>+ {{rule.modifier}}</span>
            }
          </span>
        }
        <fa-icon [fixedWidth]="true" [icon]="ruleTypes[rule.type].icon"></fa-icon>
      </div>
    </div>

    <dl class="meta">
      @if (rule.type === 'liturgy' && rule.level) {
        <dt>Stufe</dt><dd>{{rule.level}}</dd>
      }
      @if ((rule.type === 'spell' || rule.type === 'cantrip' || rule.type === 'liturgy') && rule.range) {
        <dt>Reichweite</dt><dd>{{rule.range}}</dd>
      }
      @if ((rule.type === 'spell' || rule.type === 'cantrip' || rule.type === 'liturgy') && rule.target) {
        <dt>Ziel</dt><dd>{{rule.target}}</dd>
      }
      @if ((rule.type === 'spell' || rule.type === 'liturgy') && rule.castingTime) {
        <dt>Dauer</dt><dd>{{rule.castingTime}}</dd>
      }
      @if ((rule.type === 'spell' || rule.type === 'cantrip' || rule.type === 'liturgy') && rule.duration) {
        <dt>Wirkungsdauer</dt><dd>{{rule.duration}}</dd>
      }
      @if ((rule.type === 'liturgy' || rule.type ==='spell') && rule.cost) {
        <dt>Kosten</dt><dd>{{rule.cost}}</dd>
      }
      @if (rule.type === 'feat' && rule.usage) {
        <dt>Art</dt><dd>{{usageTypes[rule.usage]}}</dd>
      }
      @if (rule.type === 'feat' && rule.combatTechniques) {
        <dt>Kampftechniken</dt><dd>{{rule.combatTechniques}}</dd>
      }
      @if ((rule.type === 'skill' || rule.type === 'spell' || rule.type === 'cantrip' || rule.type === 'liturgy') && rule.category) {
        <dt>Kategorie</dt><dd>{{rule.category}}</dd>
      }
      @if (rule.type === 'skill' && rule.encumbrance) {
        <dt>Behinderung</dt><dd>{{rule.encumbrance}}</dd>
      }
      @if (rule.type === 'skill' && rule.alternatives) {
        <dt>Ausweichen</dt><dd>{{rule.alternatives}}</dd>
      }
      @if (rule.type === 'skill' && rule.specializations) {
        <dt>Spezialisierungen</dt><dd>{{rule.specializations}}</dd>
      }
      @if (rule.type === 'skill' && rule.applications) {
        <dt>Anwendungsgebiete</dt><dd>{{rule.applications}}</dd>
      }
    </dl>

    <div class="rules">{{rule.rules}}</div>
  </div>
</div>
