<app-top-bar-filter placeholder="z.B. Name, Interval, Talent, Meilenstein" (filterChanged)="onFilterChanged($event)" [text]="initialFilterText">
  <button type="button" class="btn-icon" (click)="showAddDialog()">
    <fa-icon [icon]="faPlus" [fixedWidth]="true"
             title="Person hinzufügen"></fa-icon>
  </button>
</app-top-bar-filter>

<div class="form-group">
  <input type="checkbox" id="showCompleted" [formControl]="showCompleted">
  <label for="showCompleted">Abgeschlossene Projekte anzeigen</label>
</div>

<app-box-grid>
  <app-project-summary
    *ngFor="let project of filteredProjects$ | async"
    [project]="project"
  >
  </app-project-summary>
</app-box-grid>
