:host {
  --avatar-border: 1px solid var(--color-primary);
  --avatar-box-shadow: none;
}

.wrapper {
  background-color: var(--color-dark);
  border: var(--avatar-border);
  border-radius: 50%;
  box-shadow: var(--avatar-box-shadow);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.image {
  padding-bottom: 100%;
  position: relative;
  width: 100%
}

.default {
  height: calc(100% + 2px);
  left: -1px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: calc(100% + 2px);
}

img {
  height: 100%;
  object-fit: cover;
  object-position: top;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
