<div>
  <form [formGroup]="campaignForm" (ngSubmit)="save()">
    <div class="form-group">
      <input type="text" id="name" formControlName="name" required>
      <label for="name">Name *</label>
    </div>
    <div class="form-group">
      <input type="text" id="date" formControlName="date" required>
      <label for="name">Datum *</label>
    </div>
    <div class="form-group" *ngIf="props.crewcount">
      <input type="number" id="crewcount" formControlName="crewcount">
      <label for="crewcount">Mannschaft</label>
    </div>
    <div class="form-group" *ngIf="props.staminaReduction">
      <input type="number" id="staminaReduction" formControlName="staminaReduction">
      <label for="staminaReduction">Ausdauer Malus</label>
    </div>
    <div class="form-group" *ngIf="props.ship">
      <input type="number" id="ship" formControlName="ship">
      <label for="ship">Schiff</label>
    </div>
    <div class="form-group" *ngIf="props.captain">
      <input type="number" id="captain" formControlName="captain">
      <label for="captain">Kapitän</label>
    </div>
    <button type="submit" class="btn" [disabled]="!campaignForm.valid">
      Speichern
    </button>
  </form>
</div>
