<li class="quest"
    [ngClass]="quest.type.concat(quest.completed ? ' completed' : '')"
    *ngIf="showCompleted || !quest.completed"
>
  <app-access-indicator [item]="quest"></app-access-indicator>

  <div class="type">{{questTypes[quest.type]}}</div>

  <a class="details" [routerLink]="[quest.id]">
    <div class="name">{{quest.name}}</div>
    <div class="description">{{quest.description}}</div>
  </a>

  <ul class="subquests unstyled-list" *ngIf="quest.subQuests && showSubQuests">
    <app-quest-summary
      *ngFor="let subQuest of quest.subQuests"
      [quest]="subQuest"
      [showCompleted]="showCompleted"
      [showSubQuests]="showSubQuests"
    ></app-quest-summary>
  </ul>
</li>
