@import '../../../../scss/variables.scss';
@import '../../../../scss/mixins.scss';

.quest {
  cursor: pointer;
  margin-bottom: $item-padding;
  margin-top: $item-padding;
  position: relative;

  &.main {
    border-bottom: 1px dotted $color-primary;
    padding-bottom: $item-padding;
  }

  &.private {
    opacity: 0.5;
  }

  &.completed {
    color: $color-gray;
  }
}

.name {
  font-size: $item-title-font-size;
  font-weight: bold;
  line-height: $item-title-line-height;
  padding-right: 100px;
}

.type {
  @include text-label;
  height: $item-title-line-height;
  line-height: $item-title-line-height;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 100px;
}

.subquests {
  padding-left: $item-padding;
}
