@if (showCompleted || !quest.completed) {
  <li class="quest"
    [ngClass]="quest.type.concat(quest.completed ? ' completed' : '')"
    >
    <app-access-indicator [item]="quest"></app-access-indicator>
    <div class="type">{{questTypes[quest.type]}}</div>
    <a class="details" [routerLink]="[quest.id]">
      <div class="name">{{quest.name}}</div>
      <div class="description">{{quest.description}}</div>
    </a>
    @if (quest.subQuests && showSubQuests) {
      <ul class="subquests unstyled-list">
        @for (subQuest of quest.subQuests; track subQuest) {
          <app-quest-summary
            [quest]="subQuest"
            [showCompleted]="showCompleted"
            [showSubQuests]="showSubQuests"
          ></app-quest-summary>
        }
      </ul>
    }
  </li>
}
