@import '../../../../scss/mixins.scss';

.quest {
  cursor: pointer;
  margin-bottom: var(--item-padding);
  margin-top: var(--item-padding);
  position: relative;

  &.main {
    border-bottom: var(--border-line-width) dotted var(--color-primary);
    padding-bottom: var(--item-padding);
  }

  &.private {
    opacity: 0.5;
  }

  &.completed {
    color: var(--color-gray);
  }
}

.name {
  font-size: var(--item-title-font-size);
  font-weight: bold;
  line-height: var(--item-title-line-height);
  padding-right: 100px;
}

.type {
  @include text-label;
  height: var(--item-title-line-height);
  line-height: var(--item-title-line-height);
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 100px;
}

.subquests {
  padding-left: var(--item-padding);
}
