:host {
  --bar-border: var(--border-line-width) solid var(--color-primary);
  --bar-border-radius: 0;
  --bar-box-shadow: none;
  --bar-height: 25px;
  --bar-margin-top: 0;
  --bar-above-background: orange;
  --bar-below-background: gray;
}

.bar-wrapper {
  border: var(--bar-border);
  border-radius: var(--bar-border-radius);
  border-top: none;
  box-shadow: var(--bar-box-shadow);
  cursor: pointer;
  height: var(--bar-height);
  margin-top: var(--bar-margin-top);
  overflow: hidden;
  position: relative;

  &.lep .bar { background-color: var(--color-lep); }
  &.aup .bar { background-color: var(--color-aup); }
  &.asp .bar { background-color: var(--color-asp); }
  &.erp .bar { background-color: var(--color-erp); }
  &.kap .bar { background-color: var(--color-kap); }
}

.bar,
.extra-bar {
  border-radius: var(--bar-border-radius);
  box-shadow: var(--bar-box-shadow);
  height: 100%;
}

.extra-bar {
  opacity: 0.75;
  position: absolute;
  top: 0;
  z-index: 1;

  &.above {
    background: var(--bar-above-background);
    right: 0;
  }

  &.below {
    background: var(--bar-below-background);
    left: 0;
  }
}

.text {
  color: var(--color-primary);
  left: 0;
  line-height: var(--bar-height);
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  z-index: 2;
}
