@import '../../../../scss/variables.scss';

.bar-wrapper {
  border: var(--border-line-width) solid var(--color-primary);
  border-top: none;
  height: 25px;
  position: relative;

  &.lep .bar { background-color: var(--color-lep); }
  &.aup .bar { background-color: var(--color-aup); }
  &.asp .bar { background-color: var(--color-asp); }
  &.erp .bar { background-color: var(--color-erp); }
}

.bar {
  height: 100%;
}

.text {
  color: var(--color-primary);
  left: 0;
  line-height: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}
