<div class="person" *ngIf="person">
  <button type="button" id="btn-add-detail" class="btn-icon" (click)="addDetail()">
    <fa-icon [fixedWidth]="true" [icon]="faPlus" [mask]="faStickyNote" transform="shrink-8"></fa-icon>
  </button>

  <div class="image" (click)="editImage()">
    <app-avatar [person]="person"></app-avatar>
  </div>


  <div class="info box" (click)="editPerson()">
    <dl>
      <ng-container>
        <dt>Name</dt>
        <dd>{{person.name}}</dd>
      </ng-container>

      <ng-container *ngIf="person.title">
        <dt>Titel</dt>
        <dd>{{person.title}}</dd>
      </ng-container>

      <ng-container *ngIf="person.birthyear || person.birthday">
        <dt>Geboren</dt>
        <dd>{{person.birthday}} {{person.birthyear}} BF</dd>
      </ng-container>

      <ng-container *ngIf="person.deathday">
        <dt>Gestorben</dt>
        <dd>{{person.deathday}} BF</dd>
      </ng-container>

      <ng-container *ngIf="person.race">
        <dt>Rasse</dt>
        <dd>{{person.race}}</dd>
      </ng-container>

      <ng-container *ngIf="person.culture">
        <dt>Kultur</dt>
        <dd>{{person.culture}}</dd>
      </ng-container>

      <ng-container *ngIf="person.profession">
        <dt>Profession</dt>
        <dd>{{person.profession}}</dd>
      </ng-container>

      <ng-container *ngIf="person.height">
        <dt>Größe</dt>
        <dd>{{person.height / 100 | number: '1.2-2': 'de'}} m</dd>
      </ng-container>
    </dl>
  </div>

  <div *ngIf="values$ | async as values" class="values">
    <div *ngIf="values.attributes" class="attributes">
      <app-bar *ngFor="let bar of values.attributes"
               [type]="bar.type"
               [current]="bar.current"
               [max]="bar.max"
               (barClicked)="editAttribute(bar)"
      ></app-bar>
    </div>
  </div>

  <div class="detail-info" *ngIf="infos$">
    <div class="info-block box" *ngFor="let infoList of infos$ | async | keyvalue">
      <div class="heading">{{infoTypes[infoList.key]}}</div>
      <div class="detail" *ngFor="let info of infoList.value" (click)="editDetail(info)">
        {{info.content}}
      </div>
    </div>
  </div>
</div>
