<app-container width="medium" class="person" *ngIf="person">
  <div class="image">
    <app-avatar [person]="person" [priority]="true"></app-avatar>

    <button type="button" id="btn-menu" class="btn-icon" (click)="toggleMenu($event)">
      <fa-icon [fixedWidth]="true" [icon]="faBars"></fa-icon>
      <app-context-menu *ngIf="menuOpen" [owner]="person.owner" [menu]="menu"></app-context-menu>
    </button>

    <div class="banner" *ngIf="person.banner && isOwnerOrCan('viewBanner')">
      <img src="{{person.banner}}" alt="Banner">
    </div>
  </div>


  <div class="info box">
    <dl>
      <ng-container>
        <dt>Name</dt>
        <dd>{{isOwnerOrCan('viewName') ? person.name : person.name.split(' ')[0]}}</dd>
      </ng-container>

      <ng-container *ngIf="person.title && isOwnerOrCan('viewTitle')">
        <dt>Titel</dt>
        <dd>{{person.title}}</dd>
      </ng-container>

      <ng-container *ngIf="person.birthyear || person.birthday">
        <dt>Geboren</dt>
        <dd>{{person.birthday}} {{person.birthyear}} BF</dd>
      </ng-container>

      <ng-container *ngIf="person.deathday">
        <dt>Gestorben</dt>
        <dd>{{person.deathday}} BF</dd>
      </ng-container>

      <ng-container *ngIf="person.race">
        <dt>Rasse</dt>
        <dd>{{person.race}}</dd>
      </ng-container>

      <ng-container *ngIf="person.culture">
        <dt>Kultur</dt>
        <dd>{{person.culture}}</dd>
      </ng-container>

      <ng-container *ngIf="person.profession">
        <dt>Profession</dt>
        <dd>{{person.profession}}</dd>
      </ng-container>

      <ng-container *ngIf="person.height">
        <dt>Größe</dt>
        <dd>{{person.height / 100 | number: '1.2-2': 'de'}} m</dd>
      </ng-container>

      <ng-container *ngIf="isOwnerOrCan('viewLocation') && person.location as location">
        <dt>Ort</dt>
        <dd>
          <a [routerLink]="['/places', location.id]" *ngIf="location.id" class="location">{{location.name}}</a>
          <span *ngIf="!location.id">{{location.name}}</span>
        </dd>
      </ng-container>
    </dl>

    <div class="tags" *ngIf="person.tags">
      <span class="tag" *ngFor="let tag of person.tags">{{tag}}</span>
    </div>
  </div>

  <div *ngIf="values$ | async as values" class="values">
    <div *ngIf="values.attributes && values.attributes.length > 0" class="attributes">
      <app-bar *ngFor="let bar of values.attributes"
               [bar]="bar"
               (barClicked)="editAttribute(bar)"
      ></app-bar>
    </div>
  </div>

  <div *ngIf="hasRelatives() && isOwnerOrCan('viewAncestry')" class="box relatives">
    <div class="heading">Verwandte</div>
    <div class="relatives-list">
      <ul class="unstyled-list">
        <li *ngFor="let relatives of person.relatives | keyvalue">
          {{relativeTypes[relatives.key]}}
          <ul>
            <li *ngFor=" let relative of relatives.value">
              <a [routerLink]="['/people', relative.id]" *ngIf="relative.id" class="location">{{relative.name}}</a>
              <span *ngIf="!relative.id">{{relative.name}}</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="detail-info" *ngIf="infos$">
    <app-info-box *ngFor="let infoList of infos$ | async | keyvalue"
                  [key]="infoList.key"
                  [infos]="infoList.value"
                  (editDetail)="editDetail($event)"
    ></app-info-box>
  </div>
</app-container>
