@import "../../../../scss/variables.scss";

.person {
  position: relative;
}

#btn-edit {
  position: absolute;
  right: 0;
  top: 0;
}

.image {
  font-size: 4rem;
  height: 250px;
  line-height: 250px;
  margin: auto;
  text-align: center;
  width: 250px;
}

.info {
  margin: $container-horizontal-padding 0;
}

.detail {
  white-space: pre-line;
}

dl {
  margin: 0;
}

dt {
  display: inline-block;
  font-weight: bold;
  padding-right: $item-padding;
  vertical-align: top;
  width: 100px;
}

dd {
  display: inline-block;
  margin: 0;
  width: calc(100% - 100px);
}
