@import '../../../../scss/variables.scss';

:host {
  --person-attributes-border: var(--border-line-width) solid var(--color-primary);
}

.person {
  position: relative;
}

#btn-menu {
  position: absolute;
  right: 0;
  bottom: 0;
}

.image {
  font-size: 4rem;
  max-height: var(--avatar-large);
  line-height: var(--avatar-large);
  margin: auto;
  position: relative;
  text-align: center;
  max-width: var(--avatar-large);
}

.banner {
  bottom: 0;
  height: 22.5%;
  left: 0;
  line-height: 0;
  position: absolute;
  width: 22.5%;

  img {
    height: 100%;
    width: 100%;
  }
}

.info,
.relatives {
  margin: var(--container-horizontal-padding) 0;
}

dl {
  margin: 0;
}

dt {
  display: inline-block;
  font-weight: bold;
  padding-right: var(--item-padding);
  vertical-align: top;
  width: 100px;
}

dd {
  display: inline-block;
  margin: 0;
  width: calc(100% - 100px);
}

.location {
  color: var(--color-primary);
  text-decoration: none;
}

.tags {
  margin-top: var(--item-padding);
  justify-content: flex-end;
}

.attributes {
  border-top: var(--person-attributes-border);
}
