<div class="top-bar clearfix">
  <div class="form-group">
    <input id="newCombatant" type="text" [(ngModel)]="newCombatant">
    <label for="newCombatant">Kämpfername</label>
  </div>

  <button type="button" class="btn-icon btn-add" (click)="addCombatant()">
    <fa-icon [icon]="faPlus" [fixedWidth]="true"
             title="Kämpfer hinzufügen"></fa-icon>
  </button>

  <button type="button" class="btn-icon btn-people" (click)="showAddPersonDialog()">
    <fa-icon [icon]="faUsers" [fixedWidth]="true"
             title="Person als Kämpfer hinzufügen"></fa-icon>
  </button>
</div>


<app-box-grid>
  <app-combatant *ngFor="let combatant of combatants$ | async" [combatant]="combatant"></app-combatant>
</app-box-grid>
