@import "../../../../scss/variables.scss";
:host {
  --circle-size : 50px;
}

.top-bar {
  margin-bottom: var(--item-padding);
  position: relative;
  padding-right: 100px;

  button {
    position: absolute;
    right: 0;
    top: 0;

    &.btn-add { right: 50px; }
  }
}

.combatant {
  margin-bottom: var(--item-padding);
  position: relative;

  &.inactive { filter: grayscale(1) brightness(0.8); }
}

app-avatar,
.default-avatar {
  display: inline-block;
  left: 0;
  line-height: var(--circle-size);
  position: absolute;
  top: 0;
  width: var(--circle-size);
  z-index: 2;
}

.default-avatar {
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  font-size: calc(var(--circle-size) * 0.75);
  height: var(--circle-size);
  overflow: hidden;
  padding-top: 5px;
  text-align: center;
}

.name {
  align-items: center;
  border-bottom: 1px solid var(--color-primary);
  border-top: 1px solid var(--color-primary);
  display: flex;
  height: var(--circle-size);
  line-height: 20px;
  margin: 0 25px;
  overflow: hidden;
  padding: 5px 35px;
  position: relative;
  z-index: 1;
}

.initiative {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  color: var(--color-dark);
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  height: var(--circle-size);
  line-height: calc(var(--circle-size) - 2px);
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: var(--circle-size);
  z-index: 2;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-dark);
  }
}

.bars {
  display: flex;
  padding: 0 calc(var(--circle-size) / 2);

  app-bar {
    display: block;
    flex-grow: 1;
  }
}

.states {
  font-size: var(--detail-text-font-size);
  line-height: var(--detail-text-line-height);
  margin-top: var(--item-padding);
  padding: 0 calc(var(--circle-size) / 2);

  .state-name {
    font-weight: bold;
  }
}



@media (min-width: $break-sm) {
  .combatants {
    grid-gap: 3rem;
  }

  .combatant {
    padding-top: calc(var(--circle-size) / 2);
  }

  app-avatar,
  .default-avatar {
    left: 50%;
    line-height: var(--avatar-medium);
    position: relative;
    transform: translateX(-50%);
    width: var(--avatar-medium);
  }

  .default-avatar {
    background-color: var(--color-dark);
    font-size: calc(var(--avatar-medium) * 0.75);
    height: var(--avatar-medium);
  }

  .name {
    border: 1px solid var(--color-primary);
    border-top-left-radius: calc(var(--circle-size) / 2);
    border-top-right-radius: calc(var(--circle-size) / 2);
    justify-content: center;
    margin: -15px 0 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .initiative {
    right: 50%;
    transform: translateX(50%);
  }

  .bars {
    flex-wrap: wrap;
    padding: 0;

    app-bar {
      width: 100%;
    }
  }

  .states {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-bottom-left-radius: calc(var(--circle-size) / 2);
    border-bottom-right-radius:calc(var(--circle-size) / 2);
    color: var(--color-dark);
    margin-top: 0;
    padding: 1rem 2rem;
  }
}
