@import '../../../../scss/variables.scss';

.popover-wrapper {
  background-color: var(--color-dark);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 100vh;
  transition: top var(--animation-time);
  width: 100%;
  z-index: 10000;

  &.visible {
    top: 0;

    .page-header {
      display: block;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
    }
  }

  .page-header { display: none; }
}

#back-btn {
  left: 5px;
  position: absolute;
  top: 5px;
}

.wrapper {
  height: 100vh;
  padding: calc(var(--header-height) + var(--container-horizontal-padding)) var(--container-horizontal-padding) var(--container-horizontal-padding);
}



@media(min-width: $break-xl) {
  .popover-wrapper {
    border-left: var(--border-line-width) solid var(--color-primary);
    left: auto;
    max-width: 550px;
    min-width: 370px;
    right: 0;
    width: 25%;

    &.visible .page-header {
      position: static;
    }
  }

  .wrapper {
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    padding: var(--container-horizontal-padding);
  }
}
