.popover-wrapper {
  background-color: var(--color-dark);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 100vh;
  transition: top var(--animation-time);
  width: 100%;
  z-index: 10000;

  &.visible {
    top: 0;

    .page-header { display: block; }
  }

  .page-header { display: none; }
}

#back-btn {
  left: 5px;
  position: absolute;
  top: 5px;
}

.wrapper {
  padding: calc(var(--header-height) + var(--container-horizontal-padding)) var(--container-horizontal-padding) var(--container-horizontal-padding);
}
