@import '../scss/variables.scss';

:host {
  height: 100%;
}

.app {
  height: 100%;
}

.page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: calc(100% - var(--header-height) - var(--footer-height));
  justify-content: flex-start;
  overflow: hidden;
  position: relative;

  &.sidebar-closed {
    app-sidebar {
      overflow: hidden;
      transform: translateX(-105%);
    }

    main {
      width: 100%;
    }
  }
}

app-sidebar {
  background-color: var(--body-background);
  bottom: var(--footer-height);
  flex: 1 1 auto;
  left: 0;
  position: fixed;
  top: var(--header-height);
  transition: min-width var(--animation-time), transform var(--animation-time), width var(--animation-time);
  width: 100%;
  z-index: 40;
}

main {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: var(--container-horizontal-padding);
  transition: width var(--animation-time);
  width: 100%;
}



@media(min-width: $break-sm) {
  .page {
    flex-direction: row;
    justify-content: stretch;

    &.sidebar-closed {
      app-sidebar {
        width: 0;
        min-width: 0;
      }
    }
  }

  app-sidebar {
    left: 0;
    max-width: 550px;
    min-width: 370px;
    position: static;
    width: 25%;
  }

  main {
    height: 100%;
    width: 75%;
  }
}

@media(min-width: $break-xl) {
  .app {
    padding-right: 0;
    transition: padding-right var(--animation-time);

    &.popover-open {
      padding-right: min(550px, max(25%, 330px));
    }
  }
}
