<div *ngIf="attributes$ | async as attributes" class="values">
  <app-attributes
    *ngIf="isOwnerOrCan('viewStats')"
    [attributeValues$]="attributes$"
    [canEdit]="isOwnerOrCan('editStats')"
    [personId]="person.id"
  ></app-attributes>

  <app-bar-attributes
    *ngIf="isOwnerOrCan('viewHitPoints')"
    [attributeValues$]="attributes$"
    [canEdit]="isOwnerOrCan('editHitPoints')"
    [personId]="person.id"
  >
  </app-bar-attributes>
</div>

<app-capability-list [person]="person"></app-capability-list>
