@if ((attributes$ | async); as attributes) {
  @if (attributes.length > 0) {
    <div class="attributes box">
      @for (att of attributes; track att) {
        <div class="attribute">
          <button type="button" class="btn-text label" (click)="editAttribute(att)" title="Attribut bearbeiten">
            {{allowedAttributes[att.type].name}}
          </button>
          @if (allowedAttributes[att.type].rollType) {
            <button
              type="button"
              class="btn-text value"
              (click)="rollAttribute(att, allowedAttributes[att.type].name)"
              title="Probe würfeln"
              >
              @if (att.max !== att.current) {
                <div>
                  {{att.max}} |
                </div>
              }
              {{att.current}}
            </button>
          }
          @if (!allowedAttributes[att.type].rollType) {
            <div class="value">
              @if (att.max !== att.current) {
                <div>
                  {{att.max}} |
                </div>
              }
              {{att.current}}
            </div>
          }
        </div>
      }
    </div>
  }
}
