<div class="attributes box">
  <div class="attribute" *ngFor="let att of attributes$ | async">
    <button type="button" class="btn-text label" (click)="editAttribute(att)" title="Attribut bearbeiten">
      {{allowedAttributes[att.type].name}}
    </button>

    <button
      *ngIf="allowedAttributes[att.type].rollType"
      type="button"
      class="btn-text value"
      (click)="rollAttribute(att)"
      title="Probe würfeln"
    >
      <div *ngIf="att.max !== att.current">
        {{att.max}} |
      </div>
      {{att.current}}
    </button>
    <div class="value" *ngIf="!allowedAttributes[att.type].rollType">
      <div *ngIf="att.max !== att.current">
        {{att.max}} |
      </div>
      {{att.current}}
    </div>
  </div>
</div>
