button {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
  position: relative;
}

.hit {
  display: inline-block;
  line-height: var(--mobile-interactive-height);
}

.result {
  background: rgba(0, 0, 0, 0.6);
  border-radius: var(--button-icon-border-radius);
  bottom: 0;
  color: var(--color-primary);
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1;
}
