<footer class="page-footer">
  <button id="menu-button" type="button" class="btn-icon borderless" (click)="toggleNavigation()" title="Menu">
    <fa-icon [icon]="faBars" size="lg" [fixedWidth]="true"></fa-icon>
  </button>

  <button id="audio-button" type="button" class="btn-icon borderless" (click)="toggleAudio()">
    <fa-icon [icon]="faMusic" size="lg" [fixedWidth]="true"></fa-icon>
  </button>

  <button id="dice-button" type="button" class="btn-icon borderless" (click)="toggleDice()">
    <fa-icon [icon]="faDice" size="lg" [fixedWidth]="true"></fa-icon>
  </button>

  <button id="message-button" type="button" class="btn-icon borderless" (click)="toggleMessages()">
    <fa-icon [icon]="faCommentAlt" size="lg" [fixedWidth]="true"></fa-icon>
  </button>
</footer>

<div class="overlay" [ngClass]="{ 'open': navVisible$ | async }">
  <nav>
    <ul class="unstyled-list">
      <li *ngFor="let item of navigation">
        <button type="button" class="btn borderless" (click)="navigateTo(item.link)">
          <fa-icon [icon]="item.icon" size="lg" [fixedWidth]="true"></fa-icon>
          {{item.label}}
        </button>
      </li>
    </ul>
  </nav>
</div>

<div class="overlay" [ngClass]="{'open': audioVisible }">
  <app-audio-player-list></app-audio-player-list>
</div>

<div class="overlay" [ngClass]="{'open': diceVisible }">
  <app-quick-dice [type]="6" [amount]="10"></app-quick-dice>
  <app-quick-dice [type]="20" [amount]="3"></app-quick-dice>
  <app-hit-location-die></app-hit-location-die>
</div>

<div class="overlay" [ngClass]="{'open': messagesVisible}">
  <app-recent-rolls></app-recent-rolls>
</div>
