<div class="combatant-menu">
  <form [formGroup]="combatantForm" (ngSubmit)="save()">
    <div class="form-group">
      <input type="text" id="name" formControlName="name" required>
      <label for="name">Name *</label>
    </div>

    <button type="submit" class="btn" [disabled]="!combatantForm.valid">
      Speichern
    </button>

    <div class="locked-input">
      <app-unlock-button (toggle)="toggleDelete()"></app-unlock-button>

      <button type="button" class="btn" (click)="removeCombatant()" [disabled]="deleteDisabled">
        Löschen
      </button>
    </div>
  </form>
</div>
