<div class="combatant-menu">
  <div class="form-group" *ngIf="states">
    <select (ngModelChange)="setCombatantStates($event)" [compareWith]="compareStates" [ngModel]="data.states" multiple>
      <option [ngValue]="state" *ngFor="let state of states">
        {{state.name}}
      </option>
    </select>
  </div>

  <div class="locked-input">
    <app-unlock-button (toggle)="toggleDelete()"></app-unlock-button>

    <button type="button" class="btn" (click)="removeCombatant()" [disabled]="deleteDisabled">
      Löschen
    </button>
  </div>
</div>
