@import '../../../../scss/mixins.scss';

.flow-list {
  display: flex;
  flex-direction: column;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  text-align: center;
  color: #999;

  .empty-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    opacity: 0.5;
  }

  p {
    font-size: 1.1rem;
    margin: 0;
  }
}

.flow {
  cursor: pointer;
  margin-bottom: var(--item-padding);
  margin-top: var(--item-padding);
  position: relative;

  app-access-indicator {
    right: 0;
  }
}

.flow-title {
  @include text-label;
  height: var(--item-title-line-height);
  line-height: var(--item-title-line-height);
  position: absolute;
  right: calc(var(--access-indicator-size) + 5px);
  text-align: right;
  top: 0;
  width: 100px;
}

.flow-date {
  font-size: var(--item-title-font-size);
  font-weight: bold;
  line-height: var(--item-title-line-height);
}
