<div class="combatant" [ngClass]="{'box': displayAsBox, 'grid': !showAsList}">
  <app-avatar *ngIf="combatant.person" [person]="combatant.person"></app-avatar>
  <div *ngIf="!combatant.person" class="default-avatar">
    <fa-icon [icon]="faUserNinja" [fixedWidth]="true"></fa-icon>
  </div>

  <div class="initiative" [ngClass]="{'disabled': !combatant.active}" (click)="setInitiative()">
    <span *ngIf="combatant.active">{{combatant.initiative}}</span>
    <fa-icon *ngIf="!combatant.active" [icon]="faDizzy" [fixedWidth]="true"></fa-icon>
  </div>

  <div class="name" (click)="showMenu()">
    {{
    combatant.person ?
      isOwnerOrCan('viewName', combatant.person.owner) ? combatant.person.name : combatant.person.name.split(' ')[0] :
      combatant.name
    }}
  </div>

  <app-bar-attributes
    *ngIf="isOwnerOrCan('viewHitPoints', combatant.person?.owner)"
    [attributeValues$]="combatant.attributes"
    [altCollection]="combatant.person ? null : CombatService.combatCollection"
    [canEdit]="isOwnerOrCan('editHitPoints', combatant.person?.owner)"
    [personId]="combatant.person ? combatant.person.id : combatant.id"
  ></app-bar-attributes>

  <div class="states" (click)="setStates()">
    <span *ngFor="let state of combatant.states" class="state" (click)="gotoLink($event, state.link)">
      <span [innerHTML]="state.name" class="state-name"></span>
      <span *ngFor="let mod of state.modifiers">
        | {{mod.target}} {{mod.value}}
      </span>
    </span>
  </div>
</div>
