<div class="combatant" [ngClass]="{'box': displayAsBox, 'grid': !showAsList}">
  @if (combatant.person) {
    <app-avatar [person]="combatant.person"></app-avatar>
  }
  @if (!combatant.person) {
    <div class="default-avatar">
      <fa-icon [icon]="faUserNinja" [fixedWidth]="true"></fa-icon>
    </div>
  }

  <div class="initiative" [ngClass]="{'disabled': !combatant.active}" (click)="setInitiative()">
    @if (combatant.active) {
      <span>{{combatant.initiative}}</span>
    }
    @if (!combatant.active) {
      <fa-icon [icon]="faDizzy" [fixedWidth]="true"></fa-icon>
    }
  </div>

  <div class="name" (click)="showMenu()">
    {{
    combatant.person ?
    isOwnerOrCan('viewName', combatant.person.owner) ? combatant.person.name : combatant.person.name.split(' ')[0] :
    combatant.name
    }}
  </div>

  @if (combatant.person?.pc || isOwnerOrCan('viewHitPoints', $safeNavigationMigration(combatant.person?.owner))) {
    <app-bar-attributes
      [attributeValues$]="combatant.attributes"
      [altCollection]="combatant.person ? null : CombatService.combatCollection"
      [canEdit]="isOwnerOrCan('editHitPoints', $safeNavigationMigration(combatant.person?.owner))"
      [personId]="combatant.person ? combatant.person.id : combatant.id"
    ></app-bar-attributes>
  }

  <div class="states" (click)="setStates()">
    @for (state of combatant.states; track state) {
      <span class="state" (click)="gotoLink($event, state.link)">
        <span [innerHTML]="state.name" class="state-name"></span>
        @for (mod of state.modifiers; track mod) {
          <span>
            | {{mod.target}} {{mod.value}}
          </span>
        }
      </span>
    }
  </div>
</div>
