.timeline {
  position: relative;
}

.btn-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.title {
  font-size: var(--item-title-font-size);
  line-height: var(--item-title-line-height);
}

.event {
  position: relative;

  app-access-indicator {
    right: 0;
    top: 5px;
  }
}

dl {
  dt {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  dd {
    line-height: 1.5;
    margin-left: 2rem;
    white-space: pre-line;
  }
}
