<div class="wrapper box" [ngClass]="{'private' : person.isPrivate}">
  <div class="image">
    <app-avatar [person]="person"></app-avatar>
  </div>

  <div class="text">
    <div class="title" *ngIf="person.title">{{person.title}}</div>
    <div class="name">{{person.name}}</div>
    <div class="race" *ngIf="person.race">{{person.race}}</div>
    <div class="birthday">{{person.birthyear | estimatedAge}}</div>
    <div class="status">
      <fa-icon *ngIf="person.deathday" [icon]="faSkullCrossbones" [fixedWidth]="true"
        title="Gestorben am {{person.deathday}} BF"></fa-icon>
      <fa-icon *ngIf="person.pc" [icon]="faUser" [fixedWidth]="true"
        title="Spielercharakter"></fa-icon>
      <fa-icon *ngIf="person.isPrivate" [icon]="faMask" [fixedWidth]="true"
         title="Verborgen"></fa-icon>
    </div>
  </div>
</div>
