@import '../../../../scss/variables.scss';
@import '../../../../scss/mixins.scss';

.wrapper {
  align-content: space-between;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: calc(#{$item-image-size} + (#{$item-padding} * 2));
}

.image {
  font-size: 4rem;
  height: $item-image-size;
  left: 0;
  line-height: $item-image-size;
  margin-right: $item-padding;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translate($item-padding, $item-padding);
  transition: height 0.2s, left 0.2s, transform 0.2s, width 0.2s;
  width: $item-image-size;
  z-index: 10;

  &:hover {
    height: auto;
    max-height: $avatar-large;
    max-width: $avatar-large;
    left: 50%;
    transform: translate(-50%, -35%);
    transition: height $animation-time 0.3s, left $animation-time 0.3s, transform $animation-time 0.3s, width $animation-time 0.3s;
    width: 90%;
    z-index: 11;
  }
}

.text {
  padding-left: calc(#{$item-image-size} + #{$item-padding});
  position: relative;
  width: 100%;
}

.name {
  font-size: $item-title-font-size;
  font-weight: bold;
  line-height: $item-title-line-height;
  margin-bottom: 0.5rem;
  padding-top: $detail-text-line-height;
}

.title {
  @include text-label;
  height: $detail-text-line-height;
  overflow: hidden;
  position: absolute;
}

.status {
  position: absolute;
  right: -3px;
  text-align: right;
  top: -3px;
}

.tags {
  margin-top: $item-padding;
  width: 100%;
}
