<div class="wrapper box" [ngClass]="{'list': showAsList}">
  <a [routerLink]="[person.id]">
    <div class="image">
      <app-avatar [person]="person"></app-avatar>
    </div>

    <div class="text">
      @if (person.title && isOwnerOrCan('viewTitle')) {
        <div class="title">
          {{person.title}}
        </div>
      }
      <div class="name">
        {{isOwnerOrCan('viewName')  ? person.name : person.name.split(' ')[0]}}
      </div>
      @if (person.location && isOwnerOrCan('viewLocation')) {
        <div class="location">{{person.location.name}}</div>
      }
      @if (person.race && !showAsList) {
        <div class="race">{{person.race}}</div>
      }
      <div class="birthday">{{person.birthyear | estimatedAge}}</div>
    </div>

    <div class="status">
      @if (person.deathday) {
        <fa-icon [icon]="faSkullCrossbones" [fixedWidth]="true"
        title="Gestorben am {{person.deathday}} BF"></fa-icon>
      }
      @if (person.pc) {
        <fa-icon [icon]="faUser" [fixedWidth]="true"
        title="Spielercharakter"></fa-icon>
      }
    </div>

    <div class="tags">
      @if (person.tags && person.tags.length > 0) {
        @for (tag of person.tags; track tag) {
          <span class="tag">{{tag}}</span>
        }
      }
    </div>
  </a>

  <app-access-indicator [item]="person"></app-access-indicator>
</div>
