@import '../../../../scss/variables.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  &.private {
    box-shadow: none;
    opacity: 0.5;
  }
}

.image {
  font-size: 4rem;
  height: $item-image-size;
  line-height: $item-image-size;
  margin-right: $item-padding;
  text-align: center;
  width: $item-image-size;
}

.text {
  position: relative;
  width: calc(100% - #{$item-image-size} - #{$item-padding});
}

.name {
  font-size: $item-title-font-size;
  font-weight: bold;
  line-height: $item-title-line-height;
  margin-bottom: 0.5rem;
  padding-top: $detail-text-line-height;
}

.title {
  font-size: $detail-text-font-size;
  height: $detail-text-line-height;
  line-height: $detail-text-line-height;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

.status {
  position: absolute;
  right: -3px;
  text-align: right;
  top: -3px;
}
