@import './variables.scss';
@import './mixins.scss';

form button {
  margin-bottom: var(--item-padding);
}

.form-group {
  --input-border-radius: 0;
  --input-box-shadow: none;
  --input-inner-padding: 0 5px;
  margin-bottom: var(--item-padding);
  position: relative;

  label {
    background: var(--color-dark);
    font-size: var(--detail-text-font-size);
    left: 10px;
    line-height: var(--detail-text-line-height);
    padding: 0 5px;
    position: absolute;
    top: -8px;
    z-index: 1;
  }

  input,
  select,
  textarea {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-dark);
    border: var(--border-line-width) solid var(--color-primary);
    border-radius: var(--input-border-radius);
    box-shadow: var(--input-box-shadow);
    color: var(--color-primary);
    font-family: var(--base-body-font-family);
    font-size: var(--base-body-font-size);
    height: var(--mobile-interactive-height);
    line-height: calc(#{var(--mobile-interactive-height)} - 2px);
    padding: var(--input-inner-padding);
    width: 100%;

    &:disabled {
      border-color: var(--color-gray);
      color: var(--color-gray);

      + label { color: var(--color-gray); }
    }

    &[type="checkbox"] {
      display: none;

      + label {
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: var(--base-body-font-size);
        line-height: calc(#{var(--mobile-interactive-height)} / 2);
        min-height: var(--mobile-interactive-height);
        position: static;
        padding-left: calc(#{var(--mobile-interactive-height)} + #{var(--item-padding)});
        width: 100%;

        &:before {
          border: var(--border-line-width) solid var(--color-primary);
          border-radius: var(--input-border-radius);
          content: '';
          display: block;
          height: var(--mobile-interactive-height);
          left: 0;
          line-height: calc(#{var(--mobile-interactive-height)} - 2px);
          position: absolute;
          text-align: center;
          top: 0;
          width: var(--mobile-interactive-height);
        }
      }

      &:checked + label:before {
        content: 'X';
      }
    }
  }

  select{
    &[multiple] {
      height: calc(#{var(--mobile-interactive-height)} * 4);
      overflow-y: auto;
    }
  }

  textarea {
    line-height: var(--base-body-line-height);
    min-height: 200px;
    padding: 5px;
    resize: vertical;
  }

  &.multiple-inputs {
    display: flex;
    gap: var(--item-padding);

    .fixed-width {
      flex: 0;
      width: var(--mobile-interactive-height);
    }
  }
}

.form-optionals {
  margin-bottom: calc(#{var(--item-padding)} * 2);

  .form-optional-heading {
    font-weight: bold;
    height: var(--mobile-interactive-height);
    line-height: var(--mobile-interactive-height);
    margin-bottom: 0.5rem;
    padding-right: calc(#{var(--mobile-interactive-height)} + #{var(--item-padding)});
    position: relative;

    button {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .form-group {
    margin-bottom: calc(#{var(--item-padding)} / 2);

    .btn-icon {
      flex: 1 0 auto;
      margin-bottom: 0;
    }
  }
}

.locked-input {
  padding-left: 50px;
  position: relative;

  .btn-icon {
    left: 0;
    position: absolute;
    top: 0;
  }
}



@media(min-width: $break-sm) {
  .form-group {
    &.multiple-inputs {
      .fixed-width {
        width: calc(#{var(--mobile-interactive-height)} * 2);
      }
    }
  }
}
