@import "variables.scss";
@import "forms.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-dark;
  color: $color-primary;
  font-family: $base-body-font-family;
  font-size: $base-body-font-size;
  line-height: $base-body-line-height;
  margin: 0;
  padding: $header-height 0 0;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.float-right { float: right; }
.float-left { float: left; }

.btn {
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-dark;
  border: 1px solid $color-primary;
  border-radius: 0;
  box-shadow: none;
  color: $color-primary;
  cursor: pointer;
  display: block;
  font-family: $base-body-font-family;
  font-size: $base-body-font-size;
  height: $mobile-interactive-height;
  line-height: $mobile-interactive-height - 2px;
  padding: 0 5px;
  text-transform: uppercase;
  transition: all $animation-time;
  width: 100%;

  &:active,
  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }

  &.borderless {
    border: none;
  }

  &:disabled {
    border-color: $color-gray;
    color: $color-gray;
    cursor: not-allowed;
  }
}

.btn-icon {
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-dark;
  border: 1px solid $color-primary;
  border-radius: 0;
  box-shadow: none;
  color: $color-primary;
  cursor: pointer;
  display: inline-block;
  font-size: $base-body-font-size;
  height: $mobile-interactive-height;
  line-height: $mobile-interactive-height - 2px;
  padding: 0;
  text-align: center;
  width: $mobile-interactive-height;

  &.borderless {
    border: none;
    line-height: $mobile-interactive-height;
  }

  &:disabled {
    border-color: $color-gray;
    color: $color-gray;
    cursor: not-allowed;
  }
}

.page-header {
  background-color: $color-dark;
  box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1);
  height: $header-height;
  left: 0;
  padding: 0 6rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  h1 {
    font-size: 3rem;
    font-weight: normal;
    height: 100%;
    line-height: $header-height;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
  }
}
