@import "variables.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-dark;
  color: $color-primary;
  font-family: $base-body-font-family;
  font-size: $base-body-font-size;
  line-height: $base-body-line-height;
  margin: 0;
  padding: $header-height 0 0;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.float-right { float: right; }
.float-left { float: left; }

.form-group {
  margin-bottom: $item-padding;
  position: relative;

  label {
    background: $color-dark;
    font-size: $detail-text-font-size;
    left: 10px;
    line-height: $detail-text-line-height;
    padding: 0 5px;
    position: absolute;
    top: -8px;
    z-index: 1;
  }

  input {
    -webkit-appearance: none;
    appearance: none;
    background-color: $color-dark;
    border: 1px solid $color-primary;
    border-radius: 0;
    box-shadow: none;
    color: $color-primary;
    font-family: $base-body-font-family;
    font-size: $base-body-font-size;
    height: $mobile-interactive-height;
    line-height: $mobile-interactive-height - 2px;
    padding: 0 5px;
    width: 100%;
  }
}

.btn {
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-dark;
  border: 1px solid $color-primary;
  border-radius: 0;
  box-shadow: none;
  color: $color-primary;
  cursor: pointer;
  display: block;
  font-family: $base-body-font-family;
  font-size: $base-body-font-size;
  height: $mobile-interactive-height;
  line-height: $mobile-interactive-height - 2px;
  padding: 0 5px;
  text-transform: uppercase;
  transition: all $animation-time;
  width: 100%;

  &:active,
  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }
}
