// ===== COLORS =====
$color-primary:                 #efdc59;
$color-dark:                    #000000;
$color-bright:                  #ffffff;


// ===== FONTS =====
$base-font-size:                10px;

$base-body-font-family:         'Open Sans', Helvetica, Arial, sans-serif;
$base-body-font-size:           1.6rem;
$base-body-line-height:         2rem;