// ===== COLORS =====
$color-primary:                 #efdc59;
$color-dark:                    #000000;
$color-bright:                  #ffffff;


// ===== FONTS =====
$base-font-size:                10px;

$base-body-font-family:         'Open Sans', Helvetica, Arial, sans-serif;
$base-body-font-size:           1.6rem;
$base-body-line-height:         2rem;

$item-title-font-size:          2rem;
$item-title-line-height:        2.4rem;

$detail-text-font-size:         1.3rem;


// ===== SIZES =====
$header-height:                 5rem;
$container-horizontal-padding:  15px;
