@import '../../../../scss/mixins.scss';

.box {
  border-radius: 0 var(--item-padding) var(--item-padding) 0;
  margin-bottom: var(--item-padding);
  margin-right: calc(var(--item-padding) * 4);
  position: relative;

  &.own {
    border-radius: var(--item-padding) 0 0 var(--item-padding);
    margin-left: calc(var(--item-padding) * 4);
    margin-right: 0;
  }
}

.user {
  @include text-label;
}

.created {
  @include text-label;
  position: absolute;
  right: var(--item-padding);
  top: var(--item-padding);
}

.success {
  color: var(--color-low);
  font-weight: bold;
}

.failure {
  color: var(--color-high);
  font-weight: bold;
}

.details {
  @include text-label;
  bottom: var(--item-padding);
  position: absolute;
  right: var(--item-padding);
}
