@if (rolls$) {
  @for (roll of rolls$ | async; track roll) {
    <div class="box" [ngClass]="{'own': roll.owner === userId}">
      <div class="user">
        {{roll.user}}
      </div>

      <div class="created">
        {{roll.created | date : 'short' : undefined : 'de-DE' }}
      </div>


      @switch (roll.type) {
        @case ('attribute') {
          <div>
            hat eine {{roll.name ? roll.name : 'Attribut'}}-Probe
            @if (roll.modifier !== 0) {
              <span>(@if (roll.modifier > 0) {<span>+</span>}{{roll.modifier}})</span>
            }
            gewürfelt:<br>
            @switch (roll.roll) {
              @case (1) {
                <span class="success">Meisterlich!</span>
              }
              @case (20) {
                <span class="failure">Patzer!</span>
              }
              @default {
                @if (roll.roll + roll.modifier <= roll.attribute) {
                  <span class="success">Erfolg!</span>
                } @else {
                  <span class="failure">Verkackt!</span>
                }
              }
            }
            <div class="details">
              ({{roll.attribute - (roll.roll + roll.modifier)}} | {{roll.roll}}/{{roll.attribute}})
            </div>
          </div>
        }

        @case ('damage') {
          <div>
            hat {{roll.rolls.length}} W{{roll.diceType}}
            @if (roll.modifier !== 0) {
              <span>@if (roll.modifier > 0) {<span>+</span>}{{roll.modifier}}</span>
            }
            Schaden gewürfelt:<br>
            {{total(roll.rolls, roll.modifier)}}
            <div class="details">
              ({{roll.rolls.join(', ')}})
            </div>
          </div>
        }

        @case ('dice') {
          <div>
            hat
            {{roll.rolls.length}} W{{roll.diceType}}
            gewürfelt:<br>
            {{total(roll.rolls)}}
            <div class="details">
              {{roll.rolls.join(', ')}}
            </div>
          </div>
        }

        @case ('skill') {
          <div>
            hat eine {{roll.name ? roll.name : 'Talent'}}-Probe
            @if (roll.modifier !== 0) {
              <span>(@if (roll.modifier > 0) {<span>+</span>}{{roll.modifier}})</span>
            }
            gewürfelt:<br>
            @let netSkill = validateSkillCheck(roll);
            @switch (getSkillCheckResultType(roll)) {
              @case (1) {
                <span class="success">Meisterlich!</span>
              }
              @case (-1) {
                <span class="failure">Patzer!</span>
              }
              @default {
                @if (netSkill > 0) {
                  <span class="success">Erfolg!</span>
                } @else {
                  <span class="failure">Verkackt!</span>
                }
              }
            }
            <div class="details">
              ({{netSkill}}/{{roll.skillPoints}} | {{roll.rolls[0]}}/{{roll.attributes[0]}}, {{roll.rolls[1]}}/{{roll.attributes[1]}}, {{roll.rolls[2]}}/{{roll.attributes[2]}})
            </div>
          </div>
        }

        @case ('skill5') {
          <div>
            hat eine {{roll.name ? roll.name : 'Talent'}}-Probe
            @if (roll.modifier !== 0) {
              <span>(@if (roll.modifier > 0) {<span>+</span>}{{roll.modifier}})</span>
            }
            gewürfelt:<br>
            @let netSkill = validateSkill5Check(roll);
            @switch (getSkillCheckResultType(roll)) {
              @case (1) {
                <span class="success">Meisterlich!</span>
              }
              @case (-1) {
                <span class="failure">Patzer!</span>
              }
              @default {
                @if (netSkill > 0) {
                  <span class="success">Erfolg!</span>
                } @else {
                  <span class="failure">Verkackt!</span>
                }
              }
            }
            <div class="details">
              ({{netSkill}}/{{roll.skillPoints}} | {{roll.rolls[0]}}/{{roll.attributes[0]}}, {{roll.rolls[1]}}/{{roll.attributes[1]}}, {{roll.rolls[2]}}/{{roll.attributes[2]}})
            </div>
          </div>
        }
      }
    </div>
  }
}
