@import '../../../../scss/variables.scss';
@import '../../../../scss/mixins.scss';

.place {
  border-bottom: 1px dotted $color-primary;
  margin-bottom: $item-padding;
  margin-top: $item-padding;
  padding-bottom: $item-padding;
  position: relative;

  :host .parts & {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.name {
  cursor: pointer;
  font-size: $item-title-font-size;
  font-weight: bold;
  line-height: $item-title-line-height;
  padding-right: 100px;
}

.type {
  @include text-label;
  height: $item-title-line-height;
  line-height: $item-title-line-height;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 100px;
}

.parts {
  padding-left: $item-padding;
}
