@import '../../../../scss/mixins.scss';

.place {
  border-bottom: var(--border-line-width) dotted var(--color-primary);
  margin-bottom: var(--item-padding);
  margin-top: var(--item-padding);
  padding-bottom: var(--item-padding);
  position: relative;

  :host .parts & {
    border-bottom: none;
    padding-bottom: 0;
  }

  &.private {
    opacity: 0.5;
  }
}

.name {
  cursor: pointer;
  font-size: var(--item-title-font-size);
  font-weight: bold;
  line-height: var(--item-title-line-height);
  padding-right: 100px;
}

.type {
  @include text-label;
  height: var(--item-title-line-height);
  line-height: var(--item-title-line-height);
  position: absolute;
  right: calc(var(--access-indicator-size) + 5px);
  text-align: right;
  top: 0;
  width: 100px;
}

.parts {
  padding-left: var(--item-padding);
}

app-access-indicator {
  right: 0;
  top: 6px;
}
