@import '../../../../scss/variables.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  &.private {
    box-shadow: none;
    opacity: 0.5;
  }
}

.text {
  position: relative;
}

.name {
  font-size: $item-title-font-size;
  font-weight: bold;
  line-height: $item-title-line-height;
  padding-top: $detail-text-line-height;
}

.type {
  font-size: $detail-text-font-size;
  height: $detail-text-line-height;
  line-height: $detail-text-line-height;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}
