<div class="box">
  <app-access-indicator [item]="achievement"></app-access-indicator>

  <div class="image">
    @if (achievement.icon) {
      <img src="{{achievement.icon}}" alt="{{achievement.name}}" />
    }
    @if (!achievement.icon) {
      <fa-icon [icon]="faTrophy" size="lg" [fixedWidth]="true"></fa-icon>
    }
  </div>
  <div class="text">
    <div class="title" (click)="showEditDialog()">{{achievement.name}}</div>
    {{achievement.description}}
  </div>
  <div class="meta clearfix">
    <div class="label">
      <fa-icon [icon]="faUnlock" [fixedWidth]="true"></fa-icon>
      {{achievement.unlocked | date: 'dd.MM.yy'}}
    </div>
    <div class="people">
      @for (person of achievement.people; track person) {
        <app-avatar [person]="person"></app-avatar>
      }
    </div>
  </div>
</div>
