:host {
  --avatar-size: 2.8rem;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.image {
  font-size: 4rem;
  height: var(--item-image-size);
  line-height: var(--item-image-size);
  margin-right: var(--item-padding);
  text-align: center;
  width: var(--item-image-size);
}

.text {
  margin-bottom: var(--item-padding);
  width: calc(100% - var(--item-image-size) - var(--item-padding));
}

.title {
  font-size: var(--item-title-font-size);
  line-height: var(--item-title-line-height);
  margin-bottom: 5px;
}

.meta {
  line-height: 0;
  min-height: var(--avatar-size);
  position: relative;
  width: 100%;

  .label {
    bottom: 0;
    font-size: var(--detail-text-font-size);
    left: 0;
    position: absolute;
  }
}

.people {
  padding-left: calc(var(--item-image-size) + var(--item-padding));
  text-align: right;
}

app-avatar {
  display: inline-block;
  margin-left: 5px;
  overflow: hidden;
  line-height: var(--avatar-size);
  width: var(--avatar-size);
}
