@import '../../../../scss/variables.scss';
$avatar-size:             2.8rem;

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.image {
  font-size: 4rem;
  height: $item-image-size;
  line-height: $item-image-size;
  margin-right: $item-padding;
  text-align: center;
  width: $item-image-size;
}

.text {
  margin-bottom: $item-padding;
  width: calc(100% - #{$item-image-size} - #{$item-padding});
}

.title {
  font-size: $item-title-font-size;
  line-height: $item-title-line-height;
  margin-bottom: 5px;
}

.meta {
  position: relative;
  width: 100%;

  .label {
    bottom: 0;
    font-size: $detail-text-font-size;
    left: 0;
    position: absolute;
  }
}

.people {
  padding-left: $item-image-size + $item-padding;
  text-align: right;
}

app-avatar {
  display: inline-block;
  margin-left: 5px;
  overflow: hidden;
  line-height: $avatar-size;
  width: $avatar-size;
}
