.info-block {
  margin-top: var(--item-padding);
}

.detail {
  border-bottom: 1px dotted var(--color-primary); // TODO: darken border color somehow
  margin-bottom: calc(var(--item-padding) / 2);
  padding-bottom: calc(var(--item-padding) / 2);
  white-space: pre-line;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &.private { opacity: 0.7; }
}

.status {
  float: right;
  margin-bottom: 5px;
  margin-left: 5px;
}
