.category {
  font-size: var(--item-title-font-size);
  font-weight: bold;
  line-height: var(--item-title-line-height);
  margin: calc(var(--item-padding) * 2) 0 var(--item-padding);
}

.note {
  cursor: pointer;
  margin-top: var(--item-padding);
  position: relative;
  white-space: pre-line;
}

.title {
  font-size: var(--item-title-font-size);
  line-height: var(--item-title-line-height);
  margin-bottom: 5px;
}
